/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


/* Базовые стили для элементов */
* {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
}

pre {
    background-color: white;
}

a {
    text-decoration: none;
}

.wrapper {
    /* background-image: linear-gradient(0deg, #0f051d 15%, #130749 85%); */
    background: rgb(15,5,29);
    background: linear-gradient(180deg, rgba(15,5,29,1) 100%, rgba(19,7,73,1) 0%);
}

/* Стили для шапки сайта */
header .container-header {
    display: flex;
    justify-content: space-between;
    padding: 25px 150px;
}

header h1 {
    color: white;
    font-weight: bolder;
    font-size: 32px;
}

header nav {
    padding-top: 5px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    color: white;
    font-weight: 500;
    transition: 0.4s ease;
}

header nav ul li:hover {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
    color: transparent;
}

header nav ul a {
    font-size: 18px;
    text-decoration: none;
    margin-right: 35px;
}

header nav ul a:last-child {
    margin-right: 0;
}

header .socials {
    display: flex;
    padding-top: 5px;
}

header .socials svg {
    width: 30px;
    height: 30px;
    margin-right: 35px;
    color: white;
}

header .socials svg:last-child {
    margin-right: 0;
}

.burger {
    display: none;   
}

header .burger svg {
    color: white;
    height: 38px;
    width: 38px;
}

.container-burger {
    background-color: white;
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: 10;
    display: none;
    transition: 0.2s ease-in-out;
}

.container-burger ul {
    list-style: none;
    display: grid;
    padding-top: 50px;
    place-items: center;
    width: 100%;
}

.container-burger ul li {
    color: black;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    line-height: 50px;
    padding: 0 25px;
}

.container-burger ul li:hover {
    color: rgb(70, 70, 70);
}

/* Стили для секции Hero */
.hero {
    padding: 100px;
}

.hero .hero-texts {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.hero .hero-texts h1 {
    text-align: center;
    font-size: 120px;
    color: white;
    font-weight: bolder;
    line-height: 100px;
}

.hero .hero-texts span {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
    color: transparent;
    font-weight: bolder;
    font-size: 120px;
    margin-top: -20px;
    line-height: 100px;
}

.hero .hero-texts img {
    width: 75px;
    height: 75px;
    animation: swim 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes swim {
    0% {
        transform: translateY(+6px);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(+6px);
    }
}

.hero .main-crypto {
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

.hero .main-crypto .block {
    margin-right: 130px;
    width: 150px;
    display: grid;
    place-items: center;
}

.hero .main-crypto .block:last-child {
    margin-right: 0;
}

.hero .main-crypto .block img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.hero .main-crypto .block .container-block {
    display: flex;
    padding-bottom: 5px;
}

.hero .main-crypto .block h1,
.hero .main-crypto .block h2,
.hero .main-crypto .block span {
    font-size: 22px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

.hero .main-crypto .block span {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 3px;
}

.hero .main-crypto .block .container-block .precent-up {
    color: rgb(1, 218, 1);
}

.hero .main-crypto .block .container-block .precent-down {
    color: red;
}

/* Cтили для таблицы монет */
.crypto-market {
    padding: 25px 100px;
    padding-bottom: 100px;
}

.crypto-market h1 {
    color: white;
    font-weight: bolder;
    padding-bottom: 25px;
    font-size: 48px;
}

.crypto-market table {
    width: 100%;
    border-collapse: collapse; 
    overflow: hidden;
}

.crypto-market table thead {
    background-color: rgb(89, 0, 255);
    border-radius: 10px 10px 0 0; 
}

.crypto-market table thead tr th {
    text-align: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.crypto-market table thead tr .id {
  padding-left: 20px;
}

.crypto-market table thead tr th:last-child {
    border-radius: 0 10px 0 0;
}

.crypto-market table thead tr th:first-child {
    border-radius: 10px 0 0 0;
}

.crypto-market table tbody tr td {
    padding-top: 15px;
    color: white;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    padding: 20px 0;
}

.crypto-market table tbody tr {
    border-bottom: 1px solid #ddd;
    transition: 0.2s ease-in-out;
}

.crypto-market table tbody tr:hover {
    background-color: rgba(209, 209, 209, 0.2);
}

.crypto-market table tbody tr:last-child {
    border-bottom: none;
}

.crypto-market table tbody tr .id {
    padding-left: 20px;
}

.crypto-market table tbody tr td img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    vertical-align: bottom;
}

.crypto-market table tbody tr .name-crypto {
    margin-top: -20px;
    font-size: 24px;
    font-weight: bold;
    vertical-align: top;
}

.crypto-market table tbody tr .name-crypto span {
    font-weight: bold;
}

.crypto-market table tbody tr .coin-volume {
    display: block;
}

.crypto-market table tbody tr .precent-up {
    color: rgb(1, 218, 1);
}

.crypto-market table tbody tr .precent-down {
    color: red;
}

/* Пагинация */
.pagination {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.pagination ul {
    list-style: none;
}

.pagination ul li {
    font-size: 20px;
}

.page-item.active .page-link {
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
    color: white;
    padding: 3px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 1;
}

.page-item.active .page-link:hover {
    opacity: 0.7;
}

.page-link {
    color: white;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Стили для секции с Преимуществами */
.advantages {
    padding: 25px 50px;
}

.advantages .main-text  {
    text-align: center;
    font-size: 72px;
    color: white;
    font-weight: bold;
}

.advantages .main-text span {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
    color: transparent;
    font-weight: bold;
}

.advantages .container-advantages {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.advantages .container-advantages .lateral .block {
    background-color: hsla(0, 0%, 100%, .05);
    border: 1px solid hsla(0, 0%, 51%, .25);
    border-radius: 25px;
    padding: 30px;
    display: flex;
    margin-bottom: 25px;
    min-height: 170px;
    max-height: 170px;
    max-width: 300px;
    min-width: 300px;
}

.advantages .container-advantages .lateral .block svg {
    color: white;
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
    padding: 7px;
    border-radius: 5px;
}

.advantages .container-advantages .lateral .block .container-block {
    padding-left: 25px;
}

.advantages .container-advantages .lateral .block .container-block h1 {
    color: white;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 5px;
}

.advantages .container-advantages .lateral .block .container-block span {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.advantages .container-advantages img {
    padding: 0 50px;
    width: 350px;
    height: 400px;
    padding-top: 120px;
}

/* Стили для секции с Дискордом */
.discord {
    padding: 50px 100px;
    display: grid;
    place-items: center;
}

.discord .discord-text {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.discord .discord-text .main-text {
    display: grid;
    place-items: center;
}

.discord .discord-text .main-text h1 {
    text-align: center;
    font-size: 120px;
    color: white;
    font-weight: bolder;
    line-height: 100px;
}

.discord .discord-text .main-text span {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
    color: transparent;
    font-weight: bolder;
    font-size: 120px;
    margin-top: -20px;
    line-height: 100px;
    padding-top: 25px;
}

.discord .discord-text img {
    width: 75px;
    height: 75px;
    animation: swim 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    margin: 35px 15px 0 15px;
}

@keyframes swim {
    0% {
        transform: translateY(+6px);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(+6px);
    }
}

.discord .span-text {
    color: white;
    padding-top: 25px;
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 24px;
}

.discord a {
    color: white;
    font-size: 18px;
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
    padding: 20px 45px;
    border-radius: 30px;
    font-weight: bold;
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.discord a:hover {
    opacity: 0.8;
}

/* Стили для футера */
footer {
    padding: 150px 100px;
    background-image: url('/images/footer.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
}

footer .footer-content {
    display: grid;
    place-items: center;
}

footer .footer-content .socials svg {
    color: white;
    width: 36px;
    height: 36px;
    margin-right: 15px;
}

footer .footer-content .socials svg:last-child {
    margin-right: 0;
}

footer .footer-content .privacy {
    padding-top: 15px;
    padding-left: 10px;
}

footer .footer-content .privacy span {
    color: white;
    margin-right: 15px;
    padding-top: 15px;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    font-size: 20px;
}

footer .footer-content .privacy span:hover {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
    color: transparent;
}

footer .footer-content .privacy span:last-child {
    margin-right: 15px;
}